* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #383838;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
  margin: 16px 0;
  color: #656565;
}

div:first-child {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

div:first-child div:first-child {
  margin: 20px 0;
}

button {
  padding: 8px;
  margin: 16px 0;
  text-transform: uppercase;
  background-color: #40c7c7;
  border: 0;
  color: #fff;
  cursor: pointer;
  transition: background-color .5s, color .5s;
}

button:hover {
  background-color: #fff;
  color: #40c7c7;
}

button:focus {
  outline: 0;
}

li button {
  margin: 0 0 0 16px;
}

input {
  width: 100%;
  padding: 16px 0;
  border: 0;
  border-bottom: 2px solid #ccc;
  margin-bottom: 16px;
}

input:focus {
  outline: 0;
  border-bottom: 2px solid #40c7c7;
}
